.contador{
  min-width: 300px;
  min-height: 300px;
  font-size: 100px;
  padding: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 8px solid white;
  margin-bottom: 15px;
}
